.fontCourier {
    font-family: 'courier';
}
.fontAriel {
    font-family: 'Arial, Helvetica, sans-serif';
}
.h1Style {
    color: blue; 
    margin-left: 30px;
    text-align: center;
}
.h2Style {
    color: red; 
    font-size: 25px;
    margin-left: 30px;
}
.listindent5 {
    margin-left: 20%;
}

.myscrollbox {font-size: 15px; height: 100px; overflow: auto;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.myfooter {
    height: 10px;
    background-color: skyblue;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900');

* {
    box-sizing: border-box;
}
.box {
    color:white;
    font-size: 25px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: left;
    padding:15px;
  }
  
  /* Colours for each box */
  .box1 { background:#eccc68; font-size: 15px;}
  .box2 { background:#ff6348;}
  .box3 { background:coral;}
  .box4 { background:#ff4757;}
  .box5 { background:#f1c40f;}
  .box6 { background:#e67e22;}
  .box7 { background:#2ed573;}
  .box8 { background:#1e90ff;}
  .box9 { background:#c56cf0;}
  .box10 { background:#18dcff;}
  
.container {
    /* display:flex changes the flow of our page * and allows us to use flex properties */
    display: flex;
    /* box's inside the container span the whole screen height; */
    min-height: 50vh;
    flex-direction: column;
}